/* css test api */

h5 {
  text-align: center;
  color: #fff;
}
.buffer {
  border: 1px solid #fff;
}


.speech {
  position: relative;
  background: #000000;
  border-radius: .4em;
}

.speech:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 0.625em solid transparent;
  border-top-color: #000000;
  border-bottom: 0;
  margin-left: -0.625em;
  margin-bottom: -0.625em;
}